{
    "presets": [
        "@babel/preset-env", "@babel/preset-react"
    ],
    "plugins": [
        // babel-plugin-module-resolver
        ["module-resolver", {
            // 임포트 시 절대경로 정하기
            "root": ["./src"],
            "alias": {
                //"test": "./test",
                //"underscore": "lodash"
            }
        }]
      ]
}